/* Skriv ALL din övnings-CSS här */

/* Exempel (ta bort/ersätt när ni börjar):
        nav a { text-decoration: none; }
*/

#sektionA {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & li {
      padding: 1rem 0;
    }
  }

  & div {
    display: flex;
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
  }

  & div span {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: red;
  }
}

#sektionB {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & li {
      padding: 0;
      display: block;

      & a {
        display: block;
        background-color: transparent;
      }
    }
  }
}
