ul.frontenders {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 1px;
  margin-top: 1px;
  width: 20rem;
}

section.searchMode {
  width: 100%;
  min-height: 100vh;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &.personSelected label {
    display: none;
  }
}
